.announcement-bar {
  --brook-green-deep: #35692f;

  background: var(--brook-green-deep);
  color: #fff;
  text-align: center;
  padding: 5px 16px;
  font-family: Overpass, var(--type-base-font-family);
  font-size: 2.55rem;
  letter-spacing: 0.01em;
}

.announcement-bar .announcement-bar-text {
  margin: 0;
  line-height: 1.1;
}

.announcement-bar strong {
  font-weight: 700;
}

@media (min-width: 600px) {
  .announcement-bar {
    font-size: 2.7rem;
  }
}
